{% extends 'Base.html.jinja' %}

{% block headercontent %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('dashboard.static', filename='js/dashboard.js') }}" type="text/javascript"></script>
<script src="{{ url_for('dashboard.static', filename='js/relval_transitions.js') }}" type="text/javascript" defer></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<h1 class='card-title' style="text-align: center; margin-top: 10px;"><strong>Dashboard</strong></h1>
<style>
  #charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .chart-block {
    flex: 0 1 400px;
    min-width: 350px;
  }

  .chart-container {
    max-width: 900px;
  }
  
  .histograms-container {
    text-align: left;
    padding: 10px;
  }

  @media only screen and (min-width: 576px) {
    .histograms-container {
      margin: 5px 10%;
    }
  }
</style>
<div class='histograms-container shadow bg-white'>
  {% if session['user']['response']['role_index'] > 1 %}
  <div style="display: flex; justify-content: center; gap: 2rem;">
    <div>
      <label for="time-filter">Show Data From:</label>
      <select class="custom-select custom-select-sm" id="time-filter">
        <option value="all" selected>All Time</option>
        <option value="7">Last 7 Days</option>
        <option value="30">Last 30 Days</option>
        <option value="90">Last 90 Days</option>
      </select>
    </div>
    <div>
      <label for="time-unit">Group Bins by:</label>
      <select class="custom-select custom-select-sm" id="time-unit">
        <option value="minutes" selected>Minutes</option>
        <option value="hours">Hours</option>
        <option value="days">Days</option>
      </select>
    </div>
  </div>
  <div>
   <p><em>Last updated: <span id="last-updated-time"></span></em></p>
  </div>

  <div id="charts-container" 
    data-url="{{ url_for('dashboard.get_dashboard_data') }}" 
    data-role-index="{{ session['user']['response']['role_index'] }}"></div>
  {% endif %}
</div>
{% endblock %}